[submodule "lang/php/awesome-php"]
	path = lang/php/awesome-php
	url = https://github.com/ziadoz/awesome-php
[submodule "lang/csharp/awesome-csharp"]
	path = lang/csharp/awesome-csharp
	url = https://github.com/danperor/awesome-csharp
[submodule "lang/framework/symfo"]
	path = lang/framework/symfo
	url = https://github.com/sitepoint-editors/awesome-symfony
